:root {
  --black1: rgb(0, 0, 0);
  --black2: rgba(15, 13, 32, 0.99);
  --black4: rgb(136, 152, 170);
  --white1: rgb(255, 255, 255);
  --white2: rgb(221, 225, 228);
  --white3: rgba(255,255,255,.5);
  --white4: rgba(255,255,255,.08);
  --blue1: rgb(14, 36, 57);
  --blue4: rgb(14, 17, 19);
  --blue5: rgb(22, 28, 30);
  --gradient1: linear-gradient( 150deg, #fcfcff 15%, #43dfff 70%, rgb(166,255,203) 94% );

  --basefont: "Akkurat-Regular", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --secondaryfont: "Px-Grotesk", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue";
  --fontregular: 400;
  --fontbold: 800;

  --fontxs: .7rem;
  --fontsm: .865rem;
  --fontmd: 1.25rem;
  --screenlg: 1440px;

  --basepadding: 2.5rem;

  --baseboxshadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  --baseborderradius: 4px;

  --cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --cubicbounce: cubic-bezier(0.74, -0.21, 0.51, 1.39);
}

@media(max-width: 767px) {
  :root {
    --basepadding: 2.5rem 15px;
  }
}

::selection {
  background: var(--black4);
  color: #fff;
}
::-moz-selection {
  background: var(--black4);
  color: #fff;
}

* {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: "pnum";
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
  font-family: var(--basefont);
  box-sizing: border-box;
  caret-color: var(--white2);
}

a, button, input, select, textarea, label {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

input,
textarea {
  position: relative;
  display: block;
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--blue4);
  outline: none;
  font-size: var(--fontmd);
  line-height: 2.2rem;
  text-overflow: ellipsis;
  background-color: var(--blue4);
  color: var(--white1);
  padding: 5px 20px 8px 13px;
  transition: box-shadow .15s ease-in;
}

input::placeholder, textarea::placeholder {
  color: var(--black4);
}

textarea {
  min-height: 62px;
  max-height: 150px;
  resize: none;
}

input:focus, input:active, textarea:focus, textarea:active {
  background-color: var(--blue4);
  box-shadow: 0 0 0 1px var(--black4);
}

html {
  background-color: var(--black1);
}

body {
  margin: 0;
  padding: 0;
}
